@charset "UTF-8";

#wrap{width:1300px;height:100%;}
#top{width:100%;height:100px;border: 1px solid black;}
#main{width:100%;height:80%;border: 1px solid black;}
#footer{width:100%;height:10%;border: 1px solid black;}